body {
    margin: 0;
}

main {
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    max-height: 750px;
    box-shadow: rgba(40,40,40,0.5) 0 0 50px;
    /*padding: 25px;*/
    left: -50px;
    top: -50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    background: url("background.png") no-repeat center;
    background-size: 100%;
}

.header {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    height: 9.3%;
    margin: 4% 0 0;
}

.header-panel {
    overflow: hidden;
    padding: 3px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    background: rgb(84, 84, 84);
    width: 75%;
    border-radius: 3px;
    box-sizing: border-box;
    border: rgb(67,64,64) solid 3px; ;
}
.header-panel .profit-label {
    margin: 2% 0;
    clear: none;
    position: relative;
    float: left;
    width: 30%;
    content: url("profit-label.png");
}
.header-panel .profit-value {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    position: relative;
    clear: none;
    float: left;
    width: 65%;
    height: 100%;
    background: url("profit-value-background.png") no-repeat;
    background-size: 100%;
    padding: 3.0%;
}
.header-panel .profit-value .value {
    font-family: "Roboto", sans-serif;
    width: 70%;
    height: 100%;
    margin: auto;
    color: rgb(53,52,55);
    font-size: 1em;
}
.header-panel .profit-value .profit-arrow {
    width: 15%;
    content: url("arrow-green.png");
    margin: auto;
}
.header-panel .profit-value .profit-arrow.bad {
    content: url("arrow-red.png");
}


.playground {
    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    bottom: 0;
    position: relative;
}

.player {
    position: relative;
    /*width: 180px;*/
    width: 50%;
    content: url("top-player.png");
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*content: "";*/
    margin: 34% auto 20px;
    transition: scale 1s;
}
.player.bottom {
    content: url("bottom-player.png");
}
.player.right {
    transform: scale(-1, 1);
}

.gate {
    content: url("gate.png");
    position: absolute;
    width: 24%;
    height: 18.75%;
    top: 36.25%;
    left: 0px;
}
.egg {
    top: 36.25%;
}
.button {
    content: url("button.png");
    position: absolute;
    margin: 0 8%;
    /*width: 9.4%;*/
    height: 8.375%;
    top: 81.25%;
    left: 0px;
}

.gate-rb, .gate-lb {
    top: 56.25%;
}
.egg-2, .egg-3 {
    top: 56.25%;
}
.button-rb, .button-lb {
    transform: rotate(-90deg);
    top: 90%;
}

.gate-rt, .gate-rb {
    transform: scale(-1, 1);
    left: auto;
    right: 0px;
}
.button-rt, .button-rb {
    transform: rotate(180deg);
    left: auto;
    right: 0px;
}
.egg-3, .egg-4 {
    left: auto;
    right: 0;
}
.button-rt {
    transform: rotate(90deg);
}

.egg {
    margin: 0;
    position: absolute;
    opacity: 0;
    height: 7%;
    border-radius: 10px;
}
.egg.shown {
    opacity: 1;

}
.egg-1.moved, .egg-2.moved {
    margin-left: 17%;
    animation: eggRotation 2s 2 linear;
    -webkit-animation: eggRotation1 2s 2 linear;
}
.egg-3.moved, .egg-4.moved {
    margin-right: 17%;
    animation: eggRotationBack 2s 2 linear;
    -webkit-animation: eggRotationBack1 2s 2 linear;
}
.egg.moved {
    margin-top: 15.15%;
}
.egg.bad {
}
@keyframes eggRotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
@keyframes eggRotationBack {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
}
@-webkit-keyframes eggRotation1 {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}
@-webkit-keyframes eggRotationBack1 {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(-360deg) }
}

.prize {
    position: absolute;
    font-weight: bolder;
    font-size: 20px;
    left: 40%;
    top: 180px;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
    transition: margin 1s;
    color: white;
    background: #4ba344;
}
.prize.moved {
    visibility: visible;
    margin-top: -200px;
}
.prize.bad {
    background: mediumvioletred;
    color: white;
}

